// SPDX-FileCopyrightText: 2021 Carl Schwan <carlschwan@kde.org>
// SPDX-FileCopyrightText: 2022 Nguyen Hung Phu <phu.nguyen@kdemail.net>
// SPDX-License-Identifier: LGPL-2.1-or-later

.feature {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.feature > div {
  padding: 20px;
}
.feature > div:first-child {
  flex-basis: 75%;
}

.feature > div:last-child {
  flex-basis: 25%;
}

.feature > div.party {
  flex-basis: 75%;
}

@media (min-width: 800px) {
  .feature {
    flex-direction: row;
  }
  .feature:nth-child(2n + 1) > div:first-child {
    order: 1;
  }
  .feature:nth-child(2n + 1) > div:last-child {
    order: 0;
  }
}

.jumbotron {
  background-size: cover;
  height: 700px;
  padding: 6em 10%;
  border-radius: 0;
  display: inline-flex;
  align-items: center;
  background-size: cover;
  overflow-x: hidden !important;
}

.jumbotron.feep {
  background-image: url('/images/thomas-kelley-xVptEZzgVfo-unsplash.webp');
  background-position: center;
}

.jumbotron.be4foss {
  background-image: url('/images/karl-pawlowicz-QUHuwyNgSA0-unsplash.webp');
  background-position: center;
}

.jumbo-card {
  background-color: rgba(255, 255, 255, 0.85);
  border-radius: 10px;
}

.tags a {
  border: 1px solid #ddd;
  display: inline-block;
  color: black;
  font-size: small;
  background-color: #fff;
  box-shadow: 0 1px 1px 0 rgba(180, 180, 180, 0.1);
  transition: all 0.1s ease-in-out;
  border-radius: 2px;
  margin: 0 3px 6px 0;
  padding: 5px 10px;
}

.tags a:hover {
  border-color: #08c;
}

html {
  overflow-x: hidden !important;
}

.app-logo  {
  background: transparent !important;
}

.home-icon{
  font-size: 300%;
  color: black;
}

.feep-image-mobile{
  width: 100vw;
}

html {
  scroll-behavior: smooth;
}

@media (prefers-color-scheme: light) {
  .gitlab {
    filter: invert(1);
  }
}

@media (prefers-color-scheme: dark) {
  .jumbo-card>h2, .jumbo-card>p {
    color: black !important;
  }

  .icon{
    color: white;
  }

  .matrix{
    filter: invert(1);
  }
}

.handbook {
    #btn-back-to-top {
        position: fixed;
        bottom: 20px;
        right: 20px;
    }

    .content {
        a {
            word-break: break-all;
        }
    }

    .sticky {
        position: sticky;
        top: 20px;
    }

    a {
        word-break: keep-all;
    }

    figure {
        text-align: center;
        max-width: 100wv;
    }

    table {
        border: 1px solid #ccc;
        border-collapse: collapse;
        margin: 0;
        padding: 0;
        width: 100%;
        table-layout: fixed;
    }

    table caption {
        font-size: 1.5em;
        margin: 0.5em 0 0.75em;
    }

    table tr {
        background-color: #f8f8f8;
        border: 1px solid #ddd;
        padding: 0.35em;
    }

    table th,
    table td {
        padding: 0.625em;
        text-align: center;
    }

    table th {
        font-size: 0.85em;
        letter-spacing: 0.1em;
        text-transform: uppercase;
    }

    @media screen and (max-width: 600px) {
        table {
            border: 0;
        }

        table caption {
            font-size: 1.3em;
        }

        table thead {
            border: none;
            clip: rect(0 0 0 0);
            height: 1px;
            margin: -1px;
            overflow: hidden;
            padding: 0;
            position: absolute;
            width: 1px;
        }

        table tr {
            border-bottom: 3px solid #ddd;
            display: block;
            margin-bottom: 0.625em;
        }

        table td {
            border-bottom: 1px solid #ddd;
            display: block;
            font-size: 0.8em;
            text-align: right;
        }

        table td::before {
            float: left;
            font-weight: bold;
            text-transform: uppercase;
        }

        table td:last-child {
            border-bottom: 0;
        }
    }
}


/************************************
timeline
************************************/
/**
 * SPDX-FileCopyrightText: 2020 Anuj Bansal <bansalanuj9@gmail.com>
 * SPDX-License-Identifier: AGPL-3.0-or-later
 */

/* Timeline */
.timeline {
    list-style: none;
    padding: 0;
    position: relative;
}

.timeline:before {
    top: 0;
    bottom: 0;
    position: absolute;
    content: " ";
    width: 3px;
    background-color: #6c7293;
    left: 50%;
    margin-left: -1.5px;
}

.timeline .timeline-wrapper {
    display: block;
    margin-bottom: 20px;
    position: relative;
    width: 100%;
    padding-right: 90px;
}

.timeline .timeline-wrapper:before {
    content: " ";
    display: table;
}

.timeline .timeline-wrapper:after {
    content: " ";
    display: table;
    clear: both;
}

.timeline .timeline-wrapper .timeline-panel {
    padding: 20px;
    position: relative;
    border-radius: 0 0 6px 6px;
    box-shadow: 1px 2px 35px 0 rgba(1, 1, 1, 0.1);
    width: 35%;
    margin-left: 15%;
}

.timeline .timeline-wrapper .timeline-panel:before {
    position: absolute;
    top: 0;
    width: 100%;
    height: 2px;
    content: "";
    left: 0;
    right: 0;
}

.timeline .timeline-wrapper .timeline-panel:after {
    position: absolute;
    top: 10px;
    right: -14px;
    display: inline-block;
    border-top: 14px solid transparent;
    border-left: 14px solid #ffffff;
    border-right: 0 solid #ffffff;
    border-bottom: 14px solid transparent;
    content: " ";
}

.timeline .timeline-wrapper .timeline-panel .timeline-title {
    margin-top: 0;
    color: #001737;
    text-transform: uppercase;
}

.timeline .timeline-wrapper .timeline-panel .timeline-body p + p {
    margin-top: 5px;
}

.timeline .timeline-wrapper .timeline-panel .timeline-body ul {
    margin-bottom: 0;
}

.timeline .timeline-wrapper .timeline-panel .timeline-footer span {
    font-size: .6875rem;
}

.timeline .timeline-wrapper .timeline-panel .timeline-footer i {
    font-size: 1.5rem;
}

.timeline .timeline-wrapper .timeline-badge {
    width: 14px;
    height: 14px;
    position: absolute;
    top: 16px;
    left: calc(50% - 7px);
    z-index: 10;
    border-top-right-radius: 50%;
    border-top-left-radius: 50%;
    border-bottom-right-radius: 50%;
    border-bottom-left-radius: 50%;
    border: 2px solid #ffffff;
}

.timeline .timeline-wrapper.timeline-inverted {
    padding-right: 0;
    padding-left: 90px;
}

.timeline .timeline-wrapper.timeline-inverted .timeline-panel {
    margin-left: auto;
    margin-right: 15%;
}

.timeline .timeline-wrapper.timeline-inverted .timeline-panel:after {
    border-left-width: 0;
    border-right-width: 14px;
    left: -14px;
    right: auto;
}

@media (max-width: 767px) {
    .timeline .timeline-wrapper {
        padding-right: 150px;
    }
    .timeline .timeline-wrapper.timeline-inverted {
        padding-left: 150px;
    }
    .timeline .timeline-wrapper .timeline-panel {
        width: 60%;
        margin-left: 0;
        margin-right: 0;
    }
}

@media (max-width: 576px) {
    .timeline::before {
        right: 0;
        left: unset;
    }
    .timeline .timeline-wrapper .timeline-badge {
        right: -5px;
        left: unset
    }
    .timeline .timeline-wrapper {
        width: 100%;
	padding-right: 0;
    }
    .timeline .timeline-wrapper .timeline-panel {
        width: 90%;
    }
    .timeline .timeline-wrapper.timeline-inverted {
        padding-right: 0;
        padding-left: 0;
    }

    .timeline .timeline-wrapper.timeline-inverted .timeline-panel {
        margin-right: 0;
        margin-left: 0;
    }

    .timeline .timeline-wrapper.timeline-inverted .timeline-panel:after {
        border-left-width: 14px;
        border-right-width: 0;
        right: -14px;
        left: auto;
    }
}

.timeline-wrapper .timeline-panel:before {
    background: #54a3d8;
}

.timeline-wrapper .timeline-badge {
    background: #54a3d8;
}


@media (prefers-color-scheme: dark){
    .timeline-panel:after ,.timeline-panel:before{
        border-left-color: #4d4d4d !important;
        border-right-color: #4d4d4d !important;
    }
    .timeline .timeline-wrapper .timeline-panel{
        background-color: #4d4d4d;
        box-shadow: none;
    }
    .timeline-title{
        color: #fff !important;
    }
}

 h3.card-heading{
    margin-top: 0 !important;
}
 .editor-toolbar.fullscreen{
     z-index: 100000 !important;
 }
.editor-toolbar.fullscreen::before,
.editor-toolbar.fullscreen::after
{
    width: 0 !important;
}

@media (prefers-color-scheme: dark) {
    .editor-toolbar{
        border: none !important;
        background: #31363b !important;
        border-bottom: 1px solid #232629 !important;
    }
    .editor-toolbar i {
        color: white;
    }
    .editor-toolbar button:hover i,
    .editor-toolbar button.active i
    {
        color: #31363b;
    }
    div.CodeMirror{
        background: #31363b !important;
        border: none;
    }
    span.CodeMirror-selectedtext{
        color: #31363b;
    }

    div.CodeMirror-cursor{
        border-left: 1px solid white;
    }

    div.editor-preview{
        color: #31363b ;
    }

    textarea.form-control{
        border-color: #fff;
    }
}

#comment_mentor_message, #comment_student_message{
    margin-top: 1rem;
}

/*for sample certificate only*/
.containerBox{
    width: 100%;
    height: 100%;
    border: 2px solid black;
    text-align: center;
    display: -webkit-box; /* wkhtmltopdf uses this one */
    display: -webkit-flex;
    display: flex;
    -webkit-box-orient: vertical;
    flex-direction: column;
    -webkit-box-pack: justify;
    padding-bottom: 20px;
}

.cert-body{
    margin: 0 auto;
    width:900px;
    height: 600px;
    font-family: Noto Sans,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
}

